/* ================================
         common css start
   ================================ */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

.container {
    width: 1140px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* ================================
         common css end
   ================================ */
/* ================================
         typography css start
   ================================ */
.main-heading {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 78px;
    color: #ffffff;
}

.card-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #121212;
}

.pragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #707070;
}

.card-pragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #707070;
}

.title {
    text-align: center;
}

.title .sub-heading {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: #121212;
    margin-bottom: 20px;
}

.title .pragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #707070;
    width: 692px;
    margin: 0 auto;
}

.amount-tk {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #707070;

}

.blog-date {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
}

.input-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #B3B3B3;
}

.newletter-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #AA9F9F;
}

.footer-heading {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: #FF5959;
}

.footer-pra {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
}

/* ================================
         typography css end
   ================================ */
/* ================================
         buttons css start
   ================================ */

.donate-btn {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 15px;
    display: inline-block;
}

.blog-btn {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FF5959;
    display: inline-block;

}

.subscribe-btn {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    border: none;
    height: 50px;
    padding: 0 42px;
}

/* ================================
         buttons css end
   ================================ */
/* ================================
         banner css start
   ================================ */

#banner {
    background-image: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

#banner .banner-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#banner .banner-main h1 {
    width: 826px;
    margin-bottom: 30px;
}

#banner .banner-main p {
    color: #ffffff;
    width: 691px;
}

#banner .banner-main a {
    margin-top: 30px;
}

/* ================================
         banner css end
   ================================ */
/* ================================
         donate-today css start
   ================================ */
#donate-today {
    padding-top: 100px;
}

#donate-today .amount-main .amount-list {
    margin-top: 50px;
    text-align: center;
}

#donate-today .amount-main .amount-list ul li {
    background: #FAFAFA;
    border-radius: 5px;
    display: inline-block;
    margin: 0 10px;
    width: 135px;
    height: 123px;
    line-height: 4;

}

#donate-today .amount-main .amount-list ul .active {
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;

}

#donate-today .amount-main .amount-list input {
    width: 765px;
    text-align: center;
    border: none;
    border-bottom: 1px solid#DADADA;
    padding-bottom: 5px;
    margin-top: 60px;
}

#donate-today .amount-main .amount-list button {
    border: none;
    margin-top: 45px;
    cursor: pointer;
}

/* ================================
         donate-today css end
   ================================ */
/* ================================
         donate-plan css start
   ================================ */
#donate-plan {
    padding-top: 100px;

}

#donate-plan .card-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#donate-plan .card-list .card {
    width: 360px;
    height: 352px;
    background: rebeccapurple;
    border-radius: 5px;
}

#donate-plan .card-list .paste {
    background: rgba(79, 157, 166, 0.1);
}

#donate-plan .card-list .pink {
    background: rgba(255, 89, 89, 0.1);
}

#donate-plan .card-list .yellow {
    background: #FFF4D6;
}

#donate-plan .card-list .card .card-content {
    padding-top: 60px;
    padding-left: 23px;
}

#donate-plan .card-list .card .card-content .icon {
    width: 53px;
    height: 53px;
}

#donate-plan .card-list .card .card-content .icon img {
    width: 100%;
    height: 100%;
}

#donate-plan .card-list .card h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#donate-plan .card-list .card p {
    width: 315px;
}

/* ================================
         donate-plan css end
   ================================ */
/* ================================
         news-blogs css start
   ================================ */
#news-blogs {
    padding-top: 100px;
}

#news-blogs .blogs-list {
    margin-top: 50px;
}

#news-blogs .blogs-list .blogs {
    background: #ffffff;
    border: 2px solid #f5f5f5;
    width: 340px;
    border-radius: 5px;

}

#news-blogs .blogs-list .blogs .blog-image {
    width: 100%;
    height: 200px;

}

#news-blogs .blogs-list .blogs .blog-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#news-blogs .blogs-list .blogs .blog-text {
    padding-left: 20px;
    padding-bottom: 25px;
}

#news-blogs .blogs-list .blogs .blog-text span {
    margin-top: 15px;
    display: inline-block;
}

#news-blogs .blogs-list .blogs .blog-text h3 {
    width: 280px;
    margin-bottom: 15px;
    margin-top: 20px;
}

#news-blogs .blogs-list .blogs .blog-text p {
    width: 280px;
}

#news-blogs .blogs-list .blogs .blog-text a {
    margin-top: 20px;

}

/* ================================
       news-blogs css end
 ================================ */
/* ================================
        get-updates css start
   ================================ */
#get-updates {
    padding-top: 100px;
    padding-bottom: 130px;
}

#get-updates .updates-content {
    display: flex;
    justify-content: center;
}

#get-updates .Newsletter {
    background: #FFF4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 210px;
    margin-top: 50px;
}
#get-updates .Newsletter form{
    display: flex;
    justify-content: center;
}
#get-updates .Newsletter input {
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 0 17px;
    height: 50px;
    width: 260px;
}

#get-updates button {
    cursor: pointer;
}

/* ================================
         get-updates css end
   ================================ */
/* ================================
         footer css start
   ================================ */
footer {
    text-align: center;
    background: #0B0D17;
    padding: 42px 0;
}

footer h2 {
    margin-bottom: 24px;
}

/* ================================
         footer css end
   ================================ */